# ignore everything in the root except the "wp-content" directory.
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/
# Codekit
config.codekit
config.codekit3

# SASS
*.sass-cache*

# OSX Stuff
.DS_Store
.AppleDouble
.LSOverride

# version control litter
CVS
.svn

#melb/perth legacy syncing technique
.unison

# Windows thumbnail cache
Thumbs.db

._*
.tmp*
*~
*.gz
*.tgz
#.bak

# VIM temporary swp, sw0 files.
.*.sw*

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# WordPress Install
.htaccess
.user.ini
php.ini
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/db.php
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/wp-total-cache-config.php
wp-content/w3-total-cache-config.php
wp-content/plugins/wordfence/tmp/configCache.php
sitemap.xml
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml.gz
wp-config.php
wp-content/wfcache/*
wp-content/wflogs/*
wp-content/updraft

error_log
.vscode/launch.json


# ignore everything in the root except the "wp-content" directory.
# !wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
# wp-content/*
# !wp-content/mu-plugins/
# !wp-content/plugins/
# !wp-content/themes/

# ignore these plugins
# wp-content/plugins/hello.php

# ignore specific themes
# wp-content/themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
# ignore these plugins
wp-content/plugins/hello.php

# ignore specific themes
wp-content/themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
